.highlightAttackOnReputation {
    background: red;
  }

.highlightManipulativeWording{
  background: yellow;
}

.highlightAttackOnReputation.highlightManipulativeWording {
  background: orange;
}