.highlightAttackOnReputation {
    background-color: rgba(255, 100, 100, 0.5);  
  }
  
.highlightManipulativeWording {
    background-color: rgba(255, 165, 0, 0.5); 
}

.highlightBoth {
  background-color: rgba(255, 132, 51, 0.6); 
}
  
.explanation {
  font-style: italic;
  color: #555;
  margin-left: 5px;
  font-weight:normal;
}

.info-box {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;

  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  margin: 20px auto;
  font-size: 1.2rem;
}

.hidden { display: none; }


.close-link {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font-style: normal;
}

.info-link{
  text-decoration: underline;
}
